<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Détails de la Chambre <%= chambre.numero %></h1>
    <ul>
        <li><strong>Numéro :</strong> <%= chambre.numero %></li>
        <li><strong>Capacité :</strong> <%= chambre.capacite %> Personne(s)</li>
        <li><strong>Disponibilité :</strong> <%= chambre.disponibilite ? 'Libre' : 'Occupée' %></li>
    </ul>
    <a href="/chambres">Retour à la liste des chambres</a>
    
</body>
</html>